.cards{
    margin-top:40px;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width:1320px){

.cards__list{
    grid-template-columns:repeat(2,1fr);
}

}

@media screen and (max-width:630px){

.cards__list{
    grid-template-columns:1fr;
}

}